/*body*/
#body {
    display: flex;
    background-color: #404040;
    width: 100%;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}
/*container*/
.container {
    display: grid;
    padding: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.row {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/*Header*/
#header {
    width: inherit;
    padding: 15px;
    background: linear-gradient(to bottom right, #818c48 30%, #a4d246 79%);
}
.heading{
    width: 100%;
    margin: 0px;
    display: inline-block;
    padding: 0px;
}
#head1 {
    text-align: center;
    font-family: "Alkatra", cursive;
    font-weight: bold;
    color: #006600;
    padding: 5px;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2px;
    font-size: 32px;
}
/*Navigation Bar*/
#navbar {
    text-align: center;
    font-size: 16px;
    padding: 0px;
}

nav ul li {
    display: inline;
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
}

li a {
    font-family: "Ubuntu", sans-serif;
    font-size: 17px;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    color: #993909;
}

li a:hover {
    background-color: #C4A44D;
    padding-left: 10px;
    padding-right: 10px;
}

/*section 1*/
#section1 {
    margin-top: 10px;
    background: linear-gradient(to bottom right, #7ba428 23%, #378736 80%);
    padding: 15px;
}
.paragraph{
    padding: 15px;
    width: 50%;
}
.h2 {
    font-family: "Acme", sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #344511;
}
.para {
    text-align: justify;
    font-size: 17px;
    font-family: 'Acme', sans-serif;
    color: black;
}
/*list*/
.list {
    width: 50%;
    padding: 15px;
    margin: 0px;
}

.list-item {
    font-family: 'Acme', sans-serif;
    font-size: 17px;
    color: #522505;
}
.h4{
    font-family: 'Acme', sans-serif; 
    font-size: 20px;
    color: #522505;
}
.ref {
    font-family: 'Acme', sans-serif;
    color: #0f3e0f;
    font-size: 16px;
    font-weight: bold;
}
.ref:hover {
    background-color: #818c58;
}
/*section2*/
#section2 {
    margin-top: 10px;
    background-color: #7aa329;
    
}

/*table*/
.table-list {
    margin-left: 12px;
    padding: 12px;
    width: 98%;
}
/*Row 3*/
.th {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #5C5224;
}
.td {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
.h3 {
    color: #344511;
    padding: 10px;
    font-size: 24px;
    font-family: 'Bree Serif', serif;
}

/*footer*/
#footer {
    width: 100%;
    background: linear-gradient(to bottom right, #818c48 11%, #a4d246 79%);
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;

}
.sources{
    width: 31%;
}
/*links*/
.links {
    width: 44%;
    padding: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

.ref {
    font-family: 'Acme', sans-serif;
    color: #0f3e0f;
    font-size: 16px;
    font-weight: bold;
}

.ref:hover {
    background-color: #818c58;
}

/*image2*/
.image2 {
    padding: 0px;
    display: inline;
    width: 25%;
    margin: 0px;
}

#img2 {
    width: 100%;
    display: inline;
    float: right;
    margin: 0px;
    height: auto;
}
